<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>{% block title %}Мой сайт{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">
    {% block styles %}{% endblock %}
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                        <span class="close-btn" onclick="this.parentElement.style.display='none'">×</span>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <div class="page-wrapper">
        <div class="content-wrapper">
            <header>
                <div class="user-info">
                    {% if current_user.is_authenticated %}
                        <span>Вы вошли как: {{ current_user.login }}</span>
                        <a href="{{ url_for('logout') }}">Выйти</a>
                    {% else %}
                        <a href="{{ url_for('auth') }}">Войти</a>
                    {% endif %}
                </div>
                {% set special_pages = ['auth', 'about_hotel', 'calendar', 'rooms', 'back_auth', 'confirmation', 'register'] %}
                {% if request.endpoint in special_pages %}
                    <button onclick="window.location.href='{{ url_for('index') }}'">main page</button>
                {% else %}
                    <button onclick="window.location.href='{{ url_for('auth') }}'">auth</button>
                    <button onclick="window.location.href='{{ url_for('about_hotel') }}'">about the hotel</button>
                {% endif %}
            </header>

            <main class="main-content">
                {% block content %}{% endblock %}
            </main>
        </div>

        <footer class="footer">
            &copy; Рожкова Елизавета Михайловна
        </footer>
    </div>
</body>
</html>