<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Мой сайт{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">
    {% block styles %}{% endblock %}
</head>
<body>
    <div class="page-wrapper">
        <div class="content-wrapper">
            <header>
                <button>auth</button>
                <button>about the hotel</button>
            </header>

            <main class="main-content">
                {% block content %}{% endblock %}
            </main>
        </div>

        <footer class="footer">
            &copy; Рожкова Елизавета Михайловна
        </footer>
    </div>
</body>
</html>