{% extends 'base.html' %}

{% block title %}Главная страница{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
{% endblock %}

{% block content %}
    <div class="grid-container">
        <div class="logo-cell">
            <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="Логотип" class="logo">
        </div>
        <div class="image-cell">
            <img src="{{ url_for('static', filename='images/calendar.jpg') }}" alt="Изображение календаря">
        </div>
        <div class="image-cell">
            <img src="{{ url_for('static', filename='images/room.jpg') }}" alt="Изображение 2">
        </div>
        <div class="button-cell">
            <button class="grid-button">date select</button>
        </div>
        <div class="button-cell">
            <button class="grid-button">select room</button>
        </div>
    </div>
{% endblock %}